.point {
    &-wrapper {
        width: 75%;
        margin: auto;
    }

    &-item-wrapper {
        border: .2rem #efad67 solid;
        background: #252525;
        color: white;
        text-align: center;

        &:first-child {
            border-bottom: none;
        }

        &:last-child:not(first-child) {
            padding-top: .5rem;
            padding-bottom: .5rem;
        }

        .point-grid-item:not(:last-child) & {
            border-right: none;
        }
    }

    &-total {
        width: 50%;
        margin: auto;

        .point-item-wrapper {
            margin: 0 2rem;
        }
    }

    &-title-wrapper {
        padding: .5rem;
        background: url('/images/title-bg.png') center center no-repeat;
        text-align: center;
        font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
        font-weight: bold;
        font-size: 2rem;
        color: white;
    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    &-text {
        &-point {
            font-family: 'Grand Royal';
            font-weight: bold;
            font-size: 5.25rem;
        }

        &-name {
            font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
            font-weight: bold;
            font-size: 1.5rem;
            color: #b9fb0d;

            &.listener {
                color: #00d8ff;
            }
        }
    }
}

.invisible {
    visibility: hidden;
}